# Android build
**/build/
**/.gradle/
**/.idea/
**/.kotlin/
**/local.properties
**/captures/
**/.cxx/

# IntelliJ / Android Studio
*.iml

# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Logs
*.log

# Keystore files
*.jks
*.keystore

# APK / AAB
*.apk
*.ap_
*.aab

# Misc
*.hprof
